@charset "UTF-8";

/* DESKTOP */

@media screen and (min-width: 812px) {

    .item1 { grid-area: a1; }
    .item2 { grid-area: a2; }
    .item3 { grid-area: a3; }

    .container {
        width: 40rem;
        border-radius: 10px;
        display: grid;
        grid-template-areas: "a1 a1"
                             "a2 a3";
    }

    .conteudo {
        padding: 2.5rem;
    }

    .t1 {
        font-size: 1.5em;
    }

    .p1 {
        font-size: 1.120em;
        margin-bottom: 0.5em;
    }

    .p2 {
        font-size: 1em;
        line-height: 1.6em;
    }

    .r3 {
        padding-right: 5em;
    }

}
