@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
/* font-family: 'Karla', sans-serif; */

/* Mobile First */

* {
    margin: 0px;
    padding: 0px;
}

body, html {
    height: 100vh;
    width: 100vw;
    background-color: hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 20rem;
    border-radius: 5px;
    overflow: hidden;
}

.conteudo {
    padding: 1.7rem;   
}

/* CAIXA 1 */

.r1 {
    background-color: white
}

.t1 {
    color: hsl(179, 62%, 43%);
    font-size: 1.240em;
}

.p1 {
    font-size: 0.930em;
    font-weight: bold;
    color: hsl(71, 73%, 54%);
    margin: 1.2em 0em;
}

.p2 { 
    font-size: 0.870em;
    color: hsl(203, 10%, 74%);
    line-height: 1.8em;
}

/* CAIXA 2 */

.r2 {
    background-color: hsl(179, 62%, 43%);
    color: white;
}

.t2 {
    font-size: 1.1em;
    margin-bottom: 1em;
}

.preço {
    display: flex;
    align-items: center;
    margin-bottom: 0.4em;
}

.st2 {
    font-size: 2em;
    padding-right: 0.4em;
}

.p3 {
    font-size: 0.940em;
    color: hsla(203, 44%, 93%, 0.616);
}

.p4 {
    font-size: 0.970em;
    margin-bottom: 2em;
}

.btn {
    display: block;
    width: 100%;
    height: 3rem;
    border-radius: 5px;
    background-color: hsl(71, 73%, 54%);
    color: white;
    font-size: 0.950em;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: hsla(71, 73%, 54%, 0.801);
}

/* CAIXA 3 */
.r3 {
    background-color: hsl(179, 47%, 52%);
}

.t3 {
    color: white;
    font-size: 1.150em;
    margin-bottom: 1.2em;
}
.lista {
    font-size: 0.9em;
    line-height: 1.3em;
    list-style-type: none;
    color: rgba(255, 255, 255, 0.589);
}