@charset "UTF-8";

@media screen and (min-width: 992px) {
    
    .container {
     /* max-width: 100vw; */
        max-width: 57.5rem;
        height: 60vh;
        display: flex;
        flex-direction: row;
    } 
    
    .card {
        display: block;
        padding: 3.2rem;
    }

    .car-icon {
        margin-bottom: 2.5rem;
    }

    .titulo {
        margin-bottom: 1.875rem;
    }

    .paragrafo {
        margin-bottom: 7rem;
        font-size: 0.92rem;
    }
    
}