@charset "UTF-8";

@media screen and (min-width: 992px) {
    
    #container {
        width: 920px;  
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div.sedans {
        border-radius: 10px 0px 0px 10px;
    }

    div.luxury {
        border-radius: 0px 10px 10px 0px;
    }

    .carros {
       padding: 40px; 
    }

    .carros > img {
        width: 60px;
    }

    .carros > h1 {
        padding: 20px 10px;
        font-size: 2.5em;
    }

    .carros > p {
        font-size: 15px;
        padding-bottom: 50px;
        line-height: 1.8em;
    }

    /* BOTÔES */

    #container button {
        width: 150px;
        padding: 15px;
        margin-top: 30px;
        font-size: 15px;
    }

    #container button:hover {
        padding: 13px;
    }
    
}