@charset "UTF-8";

/* Mobile-First */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
/* font-family: 'Lexend Deca', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
/* font-family: 'Big Shoulders Display', cursive; */

* {
    margin: 0px;
    padding: 0px;
}

/* ocultando a barra de rolagem sem perder sua função */
::-webkit-scrollbar {    
    width: 0px;
    height: 0px;
}

body, html {
    font-family: 'Lexend Deca', sans-serif;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.container {
    max-width: 19rem;
    border-radius: 10px;
    overflow: hidden;   
}

.card {
    padding: 2.5rem;
    display: grid;
    row-gap: 20px;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
}
.suvs {
    background-color: hsl(184, 100%, 22%);
}
.luxury {
    background-color: hsl(179, 100%, 13%);
}

.car-icon {
    margin-bottom: 1rem;
}

.titulo {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
}

.paragrafo {
    font-size: 0.92rem;
    line-height: 1.6rem;
    color: hsla(0, 0%, 100%, 0.75);
}

/* BOTÕES */

.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: hsl(0, 0%, 95%);
    text-decoration: none;
    font-size: 15px;
    width: 150px;
    height: 45px;
    border-radius: 30px;
    border: 2px solid hsla(0, 0%, 100%, 0.75);
}

.btn-one {color:hsl(31, 77%, 52%);}
.btn-two {color:hsl(184, 100%, 22%);}
.btn-three {color:hsl(179, 100%, 13%);}

.btn:hover {
    color: hsl(0, 0%, 95%);
}

.btn-one:hover {background-color: hsl(31, 77%, 52%);}
.btn-two:hover {background-color:hsl(184, 100%, 22%);}
.btn-three:hover {background-color:hsl(179, 100%, 13%);}
