@charset "UTF-8";

/* Media Query */

@media screen and (min-width: 1015px) {
    
    main {
       padding: 0px;
    }
    
    .container {
     /* max-width: 100vw; */
        max-width: 57.5rem;
        display: flex;
        flex-direction: row;
    } 
    
    .card {
        display: block;
        padding: 3.2rem;
    }

    .car-icon {
        margin-bottom: 2.5rem;
    }

    .titulo {
        margin-bottom: 1.875rem;
    }

    .paragrafo {
        margin-bottom: 4rem;
    }
    
}