@charset "UTF-8";

/* MEDIA QUERY */

@media screen and (min-width: 1015px) {

    .container {
        width: 55rem;
        height: 22rem;
        display: flex;
        flex-direction: row-reverse;
    }

    .imagem {
        background-image: url('../images/image-header-desktop.jpg');
        background-size: contain;
        width: 50%;
        height: 100%;
        padding: 3rem;
    }

    .conteudo {
        width: 50%;
        padding: 3.5rem;
        text-align: left; 
    }

    .titulo {
        font-size: 1.8em; 
    }

    .paragrafo {
        font-size: 0.805em; 
        line-height: 1.5em;
    }
    
    .terceiro {
        display: flex;
        flex-direction: row;
        margin-top: 1.7em;
    }

    .quantidade , .benefits {
        display: inline-block;
        padding-left: 0em;
    }

}
