@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
/* font-family: 'Inter', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
/* font-family: 'Lexend Deca', sans-serif; */

/* Mobile First */

* {
    margin: 0px;
    padding: 0px;
}

body, html {
    height: 100vh;
    width: 100vw;
    font-family: 'Inter', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    
    min-height: 100vh;
    background-color: hsl(233, 47%, 7%);
}

.container {
    width: 17rem;
    color: hsl(0, 0%, 100%);
    background-color: hsl(244, 38%, 16%);
    border-radius: 7px;
    overflow: hidden;
}

.imagem {
    height: 12.5rem;
    background-image: url('../images/image-header-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: opacity(0.4) drop-shadow(0 0 0 #c300ff);
}

.conteudo {
    padding: 1.690em;
    text-align: center;
}

.titulo {
    font-size: 1.4em;
    margin-bottom: 0.8em;
}

.highlight {
    color: hsl(277, 64%, 61%);
}

.paragrafo {
    font-size: 0.750em;
    line-height: 1.9em;
    color: hsla(0, 0%, 100%, 0.6);
    margin-bottom: 2rem;
}

.blc {
    margin: 1.3em 1em 0.3em 1em;
    display: grid;
    row-gap: 0.3em;
}

.quantidade {
    font-size: 1.2em;
}

.benefits {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: hsla(0, 0%, 100%, 0.6);
}

