@charset "UTF-8";

/* MEDIA QUERY */

@media screen and (min-width: 1015px) {

    .container {
        max-width: 30rem;
        display: flex;
        flex-direction: row;
    }

    .imagem {
        background-image: url('../images/image-header-desktop.jpg');
        background-size: cover;
        width: 50%;
    }

    .conteudo {
        width: 50%;
    }
}
