@charset "UTF-8";

@media screen and (min-width: 992px) {
    
    #container {
        height: 627px;
        width: 800px; 

        display: flex;
        flex-direction: row;       
    }

    /* IMAGEM */

    #container > div#imagem {
        background-image: url('../images/image-product-desktop.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        width: 50%;
        height: 100%;
        padding: 0px 40px;
    }

    /* CONTEÚDO */
    
    #container > div#conteudo {
        width: 50%;
        padding: 40px;

        display: grid;
    }

    div#conteudo > h3 {
        font-size: 18px;
        padding: 0px 0px 20px 0px;
    }

    div#conteudo > h1 {
        font-size: 2.5em;
    }

    div#conteudo > p {
        font-size: 20px;
        padding-top: 30px;
        margin: 0px;
    }

    div.preços {
        margin: 0px;
        padding: 30px 0px 30px 0px;
    }

    p.preço-atualizado {
        font-size: 2.5em;
        padding-right: 20px;
    }

    p.preço-anterior {
        font-size: 18px;
        margin: 20px;
    }

    form {
        margin: 0px;
        padding: 10px;
    }

    form > a {
        font-size: 20px;
    }
    
}
