@charset "UTF-8";

/* MOBILE FIRST */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
/* font-family: 'Montserrat', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
/* font-family: 'Fraunces', serif; */

* {
    margin: 0px;
    padding: 0px;   
}

body {
   background-color: hsl(30, 38%, 92%);
   font-family: 'Montserrat', sans-serif;
   
}

.container-pai {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-filho {
    height: 627px;
    width: 21rem;
    background-color: hsl(0, 0%, 100%);
    
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.377);
}

/* IMAGEM */
.imagem {
    height: 15rem;
    background-image: url('../images/image-product-mobile.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

/* CONTEÚDO */

.conteudo {
    padding: 1.5rem;
}

.conteudo > h3 {
    font-size: 0.850rem;
    letter-spacing: 0.2rem;
    font-weight: normal;
    color: hsl(228, 12%, 48%);
    margin-bottom: 1rem;
}

.conteudo > h1 {
    font-family: 'Fraunces', serif;
    font-size: 1.860rem;
    line-height: 2rem;
    margin-bottom: 1rem;
}

.paragrafo {
    font-size: 0.8rem;
    line-height: 1.5rem;
    color: hsl(228, 12%, 48%);
    margin-bottom: 2.5rem;
}

.preços {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.preço-atualizado {
    font-family: 'Fraunces', serif;
    font-size: 1.860rem;
    color: hsl(158, 36%, 37%);
}

.preço-anterior {
    font-size: 0.850rem;
    padding-left: 1.5rem;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
}

/* BOTÃO */
.btn:hover {
    background-color: hsl(159, 36%, 17%);
    cursor: pointer;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(158, 36%, 37%);
    height: 3.2rem;
    border-radius: 10px;
}

.cart-icon {
    padding: 10px;
}

.text-btn {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}
